* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background-color: #333;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

main {
  background: #000;
  width: 100%;
  height: calc(100% - 30px);
  color: #fff;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.3);
  padding: 30px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer {
  position: relative;
  width: 70vw;
  height: 40vw;
  overflow: hidden;
}

.slider {
  position: absolute;
  height: 100%;
  width: 3500vw;
  left: 0;
  top: 0;
  transition: left 0.5s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slide {
  width: 70vw;
  height: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  /* left: 200px; */
  height: 100%;
  width: 100%;
}

.side-controller {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  top: 0;
  width: 15%;
  height: 100%;
  transition: all 200ms;
  cursor: pointer;
  background-color: rgba(30, 30, 30, 0.3);
}

.side-controller img {
  opacity: 0.2;
}

.side-controller:hover {
  opacity: 1;
}

.side-controller:active img {
  opacity: 0.4;
}

.left-controller {
  left: 0;
}

.right-controller {
  right: 0;
}

footer {
  background-color: #111;
  bottom: 0;
  height: 30px;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexButton {
  width: 40px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 40%;
  background-image: url('./images/interface/square.png');
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.indexButton:hover {
  opacity: 1;
}

.indexSelected {
  background-image: url('./images/interface/square-selected.png');
  opacity: 0.8;
}

.topControlsContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  left: calc(50% - 60px);
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.minus,
.wheel,
.plus {
  width: 40px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.minus {
  background-image: url('./images/interface/minus.png');
  background-size: 20% 20%;
  opacity: 0.5;
}

.wheel {
  background-image: url('./images/interface/wheel.png');
  background-size: 70% 70%;
  transition: transform 5s linear;
}

.plus {
  background-image: url('./images/interface/plus.png');
  background-size: 20% 20%;
}

.minus:hover,
.wheel:hover,
.plus:hover {
  background-color: #777;
}

.minus:active,
.wheel:active,
.plus:active {
  background-color: #999;
}

.reclama {
  position: absolute;
  bottom: 40px;
  left: calc(50% - 200px);
  width: 400px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.reclama a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
